# -*- coding: utf-8 -*-
#
# This file is part of Flask-CeleryExt
# Copyright (C) 2015, 2016 CERN.
#
# Flask-CeleryExt is free software; you can redistribute it and/or modify it
# under the terms of the Revised BSD License; see LICENSE file for more
# details.

include LICENSE *.rst
include .coveragerc .editorconfig run-tests.sh pytest.ini tox.ini
include docs/*.rst docs/*.py docs/Makefile
include tests/*.py
recursive-include docs/_themes *.py *.css *.css_t *.conf *.html README
recursive-include docs/_templates *.html

# added by check_manifest.py
include *.rst
include *.txt
include *.yml
include Dockerfile
